<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yys.mynicevideoplayer">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name="com.yys.mynicevideoplayer.MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- configChanges 配置之后，切换横竖屏不会重新创建activity-->
        <activity
            android:name="com.yys.mynicevideoplayer.TinyActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait">  <!-- 启动Activity的时候的方向 landscape强制横屏 portrait竖屏-->
            
        </activity>
    </application>

</manifest>